name: Issue Created 

on: 
  issues: 
     types: [opened]

jobs:
  comment-on-issue:
     runs-on: ubuntu-latest
     steps:
       - name: "dump github actions"
         run: echo '${{ toJSON(github.event ) }}' | jq
         shell: bash
       - name: Create comment
         uses: peter-evans/create-or-update-comment@v4
         with:
          issue-number: ${{ github.event.issue.number }}
          body: |
            This is a multi-line test comment
            - With GitHub **Markdown** :sparkles:
            - Created by [create-or-update-comment][1]

            [1]: https://github.com/peter-evans/create-or-update-comment
          reactions: '+1'

  comment-with-github-api:
       runs-on: ubuntu-latest
       permissions:
          issues: write
       steps:
         - name: Created comment with Github APi
           run: |
               curl -X -X POST -u ${{ secrets.GITHUB_TOKEN }}\
               http:\\api.github.com/repo/manzil-infinity180/${REPOSITORY}/issues/${ISSUE_NUMBER}/comment \
               -f body= '
               This comment is from Github API brrooooo
               '
           env:
              GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
              REPOSITORY: ${{ github.event.repository.name }}
              ISSUE_NUMBER: ${{ github.event.issue.number }}
              
  add-comment-on-issue:
    runs-on: ubuntu-latest
    permissions:
      issues: write
    steps:
      - name: Add comment on Issue
        run: gh issue comment "$NUMBER" --body "$BODY"
        env:
          GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          GH_REPO: ${{ github.repository }}
          NUMBER: ${{ github.event.issue.number }}
          BODY: >
            This issue is created by github gh on
            creating a new Issue it will trigger
               
               
  
   
